src/main/mule/foreachscope.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad3dacea-bf6d-438b-b59c-0c4e3515dbaf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreachscopeFlow" doc:id="182dc454-812d-473d-a56a-cc9970bdeda7" >
		<http:listener doc:name="Listener" doc:id="c16f84c5-840b-4bc9-bd9d-df143d41ea33" config-ref="HTTP_Listener_config" path="/foreach"/>
		<logger level="INFO" doc:name="Logger" doc:id="d5053d46-05a5-4d13-9361-1df4cd18490b" message="request received -&gt; #[payload]"/>
		<batch:job jobName="foreachscopeBatch_Job" doc:id="2e9e3974-f690-406a-9ed4-7a5c15434711" >
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="c8af4598-5e16-46a2-a982-7d42f518239d">
					<ee:transform doc:name="Transform Message" doc:id="8b5ca05a-5741-4b04-89a2-4aceaca06c12">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload + 100]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="9e7b54ff-b4cd-4324-b2b0-6c87c7164a99" message="#[payload]"/>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d3757761-14d1-4275-bcfb-acd39a8c8cb9" size="4">
						<logger level="INFO" doc:name="Logger" doc:id="68dd3967-2256-43d5-9fb8-728acb689129" message="payload in aggregator -&gt; #[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="e488ec38-9cbe-477c-ba33-755e69975072" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="ff5e90f7-72c7-4f52-a9fe-7a44b00cab81" message="completed batch job"/>
		<ee:transform doc:name="Transform Message" doc:id="c5a3cb4e-ec24-4023-b9b1-16ef8538cade" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "batch job completed successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
